body{font-family: 'VT323', monospace;
    color:#55FF55;
    
    

    
background-color: black;
}
.container{
    max-width: 1440px;
    height: 100%;
    margin:0 auto;
    padding: 0 2.5em;

}

h1{
    text-align:center;
    font-size: 64px;
}
h3{
    text-align:center;
    font-size: 32px;
    overflow:hidden;
}

  .pre-text{
      display:block;
  }
  .maingame{
      display:none;
      
  }
  .startgame{
      border: 3px solid #55FF55;
      width: 200px;
      height: 50px;
      background: transparent;
      color: #55FF55;
      font-family: 'VT323', monospace;
      font-size: 24px;
      position:relative;
      left: 40%;
  }
  .startgame:hover{
    animation: fillin 5s linear;
  }
  @keyframes fillin {
      0%{background:transparent;
    color:#55FF55;}

  5%{
      background:#55FF55;
      color:black;
  }
  100%{
      background:#55ff55;
      color:black;
  }
}

.spaceship{
    position:absolute;
    right: 20px;
    width: 200px;
}
.options button svg{
    padding: 10px;
    border-radius:5px;
}
.options button{
    width: 130px;
    border: 2px solid #55FF55;
    background: black;
    border-radius:5px;
    margin: 10px;
}
.options button:active{
    background:#121212 ;
}
.options{
    display:flex;
    flex-direction: column;
    justify-content: center;


}
.flexbox{
    
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.roundwinner{
    position:absolute;
    top: 35%;
}



.fas {
    visibility: hidden;
    pointer-events: none;
    position:absolute;
    top:35%;

  }
  
  .fas.active {
    visibility: visible;
    
  }
  .far,
  .fas {
    font-size: 10rem;
  }
  .scoreplayer{
      position:absolute;
      top: 75%;
  }

  .desc{
      position:absolute;
      top: 20%;
  }
  .scorecomputer{
      position:absolute;
      top: 75%;
  }

  footer{
    position:absolute;
    text-align:center;
    background: #55ff55;
    color: black;
    height: 20px;
    padding: 10px 0;
    font-size: 16px;
    bottom:0;
    width: 100vw;
  }
  @media (max-width:780px){
      h1{
          font-size: 48px;
      }
      h3{
          font-size:24px;
      }
      .startgame{
          left: 90px;
      }
      .options{
          flex-direction: row;
          
      }
      .flexbox{
          position: relative;
          left: -60px;
          justify-content: space-around;
      }
      .options button{
          transform: scale(0.5);
      }
      i{
          transform:scale(0.5);
         
          
      }
      .fas{
          top: 10vh;
          
      }
      .scoreplayer{
          top: 30vh;
      }
      .scorecomputer{
          top: 30vh;
      }
    
      .roundwinner{
          display:none;
      }
      .spaceship{
          display:none;
      }
      
  }
  

